<div class="d-flex flex-wrap">
  <div class="card m-3 col-2 col-sm-9 col-lg-4 col-md-5" *ngFor="let item of units">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let i of item.images">
          <img src="{{i}}" class="d-block card-img-top card-border" id="opImg" alt="..." style="position:relative ;">
          <fa-icon [icon]="faHeart" class="faIcon">
          </fa-icon>
        </div>
      </div>
    </div>
    <div class="card-body d-flex justify-content-between">
      <a [routerLink]="['/unit-example']" routerLinkActive="router-link-active">
        {{item.estateType}}
      </a>
      <h5>{{item.dailyPrice}}$</h5>
    </div>
  </div>
</div>
