<div class="d-flex flex-wrap" *ngIf="this.transfer.filteredUnits">
  <div class="card m-3 col-6 col-sm-9 col-lg-4 col-md-5" *ngFor="
      let item of this.transfer.filteredUnits
        | paginate: { itemsPerPage: 24, currentPage: page }
    ">
    <div>
      <img src="{{ item.cover }}" class="d-block card-img-top card-border" id="opImg" alt="..."
        style="position: relative" />
      <fa-icon [icon]="faHeart" class="faIcon"> </fa-icon>
      <button (click)="onClick(item._id)">
        <fa-icon [icon]="faHeart" class="faIcon"> </fa-icon>
      </button>
    </div>
    <div class="card-body">
      <a routerLink="/unit/{{ item._id }}" routerLinkActive="router-link-active">
        {{ item.estateType }}
      </a>
      <p>
        Daily Price : {{ item.dailyPrice }}$ <br />
        Allowed Gender : {{ item.allowedGender }} <br />
        pets Allowed : {{ item.isPetsAllowed ? "Yes" : "No" }}
      </p>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap" *ngIf="this.transfer.filteredUnits.length < 1">
  <div class="card m-3 col-9 col-sm-9 col-lg-4 col-md-5" *ngFor="
      let item of units | paginate: { itemsPerPage: 24, currentPage: page }
    ">
    <div>
      <img src="{{ item.cover }}" class="d-block card-img-top card-border" id="opImg" alt="..."
        style="position: relative" />
      <button (click)="onClick(item._id)">
        <fa-icon [icon]="faHeart" class="faIcon"> </fa-icon>
      </button>
    </div>

    <div class="card-body">
      <a routerLink="/unit/{{ item._id }}" routerLinkActive="router-link-active">
        {{ item.estateType }}
      </a>
      <p>
        Daily Price : {{ item.dailyPrice }}$ <br />
        Allowed Gender : {{ item.allowedGender }} <br />
        pets Allowed : {{ item.isPetsAllowed ? "Yes" : "No" }}
      </p>
    </div>
  </div>
</div>
<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
