input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.editWidth {
  width: fit-content;
}

.main {
  width: 50%;
  margin: 10em auto;
  border-radius: 1.5rem;
  background-color: var(--section-color);
  text-transform: capitalize;
}

button {
  background-color: var(--addresses-color);
}

.btnStyle {
  font-size: 20px;
  font-weight: bold;
}
.btnStyle:hover {
  color: rgb(249, 242, 223);
  color: var(--main-font-color);
  background-color: var(--main-background-color);
}

/*
.main > div > input {
  margin-left: 3em;
}

.main > div > label {
  margin-left: 3em;
} */
