<form [formGroup]="myform">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <label for="cardNumber" class="form-label">card Number</label>
    <input
      type="number"
      min="0"
      class="form-control"
      id="bathrooms"
      aria-describedby="bathroomsHelp"
      formControlName="cardNumber"
    />

    <div
      id="cardNumberHelp"
      class="form-text text-danger"
      *ngIf="
        myform.controls.cardNumber.touched && myform.controls.cardNumber.invalid
      "
    >
      <div *ngIf="myform.controls.cardNumber.errors?.['required']">
        Enter card Number
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <label for="name" class="form-label">name on Card</label>
    <input
      type="text"
      class="form-control"
      id="name"
      aria-describedby="bathroomsHelp"
      formControlName="nameonCard"
    />

    <div
      id="nameHelp"
      class="form-text text-danger"
      *ngIf="
        myform.controls.nameonCard.touched && myform.controls.nameonCard.invalid
      "
    >
      <div *ngIf="myform.controls.nameonCard.errors?.['required']">
        Enter card Name
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <label for="expireDate" class="form-label">expire Date</label>
    <input
      type="date"
      class="form-control"
      id="expireDate"
      aria-describedby="expireDateHelp"
      formControlName="expireDate"
    />

    <div
      id="expireDateHelp"
      class="form-text text-danger"
      *ngIf="
        myform.controls.expireDate.touched && myform.controls.expireDate.invalid
      "
    >
      <div *ngIf="myform.controls.expireDate.errors?.['required']">
        Enter card expireDate
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <label for="text" class="form-label">text input</label>
    <input
      type="text"
      class="form-control"
      id="text"
      aria-describedby="textHelp"
      formControlName="text"
    />

    <div
      id="securtiyCodeHelp"
      class="form-text text-danger"
      *ngIf="myform.controls.text.touched && myform.controls.text.invalid"
    >
      <div *ngIf="myform.controls.text.errors?.['required']">
        Enter card text
      </div>
      <div *ngIf="myform.controls.text.errors?.['maxlength']">
        max length is 3
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <label for="amount" class="form-label">amount</label>
    <input
      type="text"
      class="form-control"
      id="amount"
      aria-describedby="amountHelp"
      formControlName="amount"
    />

    <div
      id="amountHelp"
      class="form-text text-danger"
      *ngIf="myform.controls.amount.touched && myform.controls.amount.invalid"
    >
      <div *ngIf="myform.controls.amount.errors?.['required']">
        Enter card text
      </div>
    </div>
  </div>

  <button class="btn btn-primary">Next</button>
</form>
