<div class="we-are-block aboutStyle">
    <div id="about-us-section">
      <div class="about-us-image">
        <img
          src="../../../assets/Images/banner-bedroom-2.png"
          width="808"
          height="458"
          class="firstImage"
        />
      </div>
  
      <div class="about-us-info text-start">
        <h2>Homie</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
          recusandae? Omnis, a? Consequuntur rem voluptas tenetur pariatur nulla
          autem accusamus amet, quia reiciendis esse iure dolore quam asperiores
          maxime ducimus.
        </p>
      </div>
    </div>
  
    <div id="history-section">
      <div class="history-image">
        <img
          src="../../../assets/Images/istockphoto-1293762741-170667a.jpg"
          width="951"
          height="471"
          class="LastImage"
        />
      </div>
  
      <div class="history-info">
        <h2>Homie History</h2>
  
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat nobis
          in odio fuga, blanditiis vero dolorem laborum. Blanditiis voluptatibus
          quod quos unde omnis numquam rerum sint, praesentium maiores quibusdam
          a!
        </p>
      </div>
    </div>
  </div>
  