a {
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent !important;
}

.nav-link {
  color: rgb(116, 104, 62);
  transition: 0.2s 0.1s ease-in;
}

.nav-link:hover {
  color: #514424 !important;
}
