<!-- <div class="container d-flex">
  <div style="width:150px ;">
    <h3>
      address
    </h3>
    <div>
      <p>{{unitAddress.city}} </p>
      <p>city: </p>
      <p>street Name :</p>
    </div>
  </div>
  <div style="width:150px ;">
    <h3>
      land lord
    </h3>
    <div>
      <img src="" alt="">
      <p>{{isAvailable?"yes":"no"}}</p>
      <p>phone number :</p>
    </div>
  </div>
</div> -->

<div>
  <div class="container my-4">
    <h2>Address </h2>
  </div>
  <div class="d-flex flex-wrap justify-content-evenly">
    <div class="d-flex">
      <fa-icon [icon]="faBuilding" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        Building Number : {{unitAddress.buildingNumber}}
      </div>
    </div>

    <div class="d-flex">
      <fa-icon [icon]="faRoad" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        Street Name : {{unitAddress.streetName}}
      </div>
    </div>

    <div class="d-flex">
      <fa-icon [icon]="faCity" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        City : {{unitAddress.city}}
      </div>
    </div>
  </div>
  <div class="container my-4">
    <h2>Amenities</h2>
  </div>
  <div class="d-flex flex-wrap justify-content-evenly">

    <div class="d-flex">
      <fa-icon [icon]="faHouse" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        Estate Type : {{estateType}}
      </div>
    </div>

    <div class="d-flex">
      <fa-icon [icon]="faHouseCircleExclamation" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        Available : {{isAvailable?"Yes":"No"}}
      </div>
    </div>

    <div class="d-flex">
      <fa-icon [icon]="faPaw" class="py-1 my-1" style="font-size: 70px; color: rgb(254, 104, 104);">
      </fa-icon>
      <div class="my-5 mx-3">
        Pet Allow : {{isPetsAllowed?"Yes":"No"}}
      </div>
    </div>
  </div>

</div>
