@media (min-width: 501px) {
  .filter {
    width: 20em;
    position: sticky;
    top: 50px;
  }
}
@media (max-width: 500px) {
  .filter {
    width: 12em;
    position: sticky;
    top: 50px;
  }
}
