<div class="container filter">
  <div class="accordion col-sm-9 col-lg-12 col-md-12" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <div class="py-3 text-center">
        <h2>Filters</h2>
        <button class="btn btn-outline-primary my-1 w-75">
          <fa-icon [icon]="faBell"></fa-icon> &nbsp;CREATE ALERT
        </button>
      </div>
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <p class="h5 fw-normal">Location</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="py-2">
            <div class="input-group">
              <div class="input-group-text">
                <fa-icon [icon]="faSearchengin"></fa-icon>
              </div>
              <input type="text" placeholder="Search" class="input-group" class="form-control"
                id="autoSizingInputGroup" />
            </div>
          </div>
          <div class="d-flex">
            <input type="checkbox" name="" id="" />
            <p class="my-2 px-2">Use map as search area</p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <p class="h5 fw-normal">Price</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <div>
            <input type="range" style="width: 100%;" />
          </div>
          <div class="filterflex justify-content-between my-2">
            <div class="col-12 ">
              <label for="min">Minimum Price</label>
              <input type="text" placeholder="0$" class="input" />
            </div>
            <div class="col-12 ">
              <label for=" max">Maximum Price</label>
              <input type="text" placeholder="1000$" class="input" />
            </div>
          </div>
          <div class="d-flex">
            <input type="checkbox" name="" id="" />
            <p class="my-2 px-2">Bills included</p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          <p class="h5 fw-normal">Date</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <input type="text" placeholder="enter specified period" ngxDaterangepickerMd [(ngModel)]="selected"
            class="form-control" />
          <!-- <div class="d-flex">
            <div>
              <label for="date"> Move-in</label>
              <input type="date" placeholder="select" class="input">
            </div>
            <div class="mx-2">
              <label for="date"> Move-out</label>
              <input type="date" placeholder="select" class="input">
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour">
          <p class="h5 fw-normal">Allowed Gender</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          <div class="d-flex flex-wrap">
            <div class="d-flex">
              <input type="checkbox" placeholder="select" style="width: 20px" />
              <p class="px-2 my-1">Mail</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" placeholder="select" style="width: 20px" />
              <p class="px-2 my-1">Female</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" placeholder="select" style="width: 20px" />
              <p class="px-2 my-1">Any</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFive">
          <p class="h5 fw-normal">Are Pets Allowed</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFive">
        <div class="accordion-body">
          <div class="d-flex">
            <div class="d-flex">
              <input type="checkbox" placeholder="select" style="width: 20px" />
              <p class="h5 fw-normal px-2 my-1">Yes</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" placeholder="select" style="width: 20px" />
              <p class="h5 fw-normal px-2 my-1">No</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
          <p class="h5 fw-normal">Type</p>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSix">
        <div class="accordion-body">
          <div class="type">
            <div class="d-flex">
              <input type="checkbox" name="" id="" style="width: 20px" />
              <p class="my-2 px-2">Studio</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="" style="width: 20px" />
              <p class="my-2 px-2">Apartment</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="" style="width: 20px" />
              <p class="my-2 px-2">Private Room</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="" style="width: 20px" />
              <p class="my-2 px-2">Shared Room</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
