.alerbtn {
  width: 15em;
  border: 2px solid indigo;
}

@media (min-width: 501px) {
  .filter {
    width: 20em;
    position: sticky;
    top: 50px;
  }
}
@media (max-width: 500px) {
  .filter {
    width: 15em;
    position: sticky;
    top: 50px;
  }

  .filterflex {
    width: 15em;
    display: flex;
    flex-wrap: wrap;
  }

  .width {
    width: 15em;
  }
}
