<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Reset Password</h1>
        <p>Enter your new Password</p>
        <form [formGroup]="myform">
          <div>
            <input
              type="password"
              class="form-control"
              id="password"
              aria-describedby="passwordHelp"
              formControlName="password"
            />
            <div
              id="passwordHelp"
              class="form-text text-danger"
              *ngIf="
                myform.controls.password.touched &&
                myform.controls.password.invalid
              "
            >
              <div *ngIf="myform.controls.password.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="myform.controls.password.errors?.['pattern']">
                password should contains lowercase,upperCase, Numbers
              </div>
            </div>
          </div>

          <div>
            <input
              type="text"
              class="form-control"
              id="link"
              aria-describedby="linkHelp"
              formControlName="resetLink"
            />
            <div
              id="linkHelp"
              class="form-text text-danger"
              *ngIf="
                myform.controls.resetLink.touched &&
                myform.controls.resetLink.invalid
              "
            >
              <div *ngIf="myform.controls.resetLink.errors?.['required']">
                reset Link is required
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="send()">
            <a routerLink="/resetPassword">Send Email</a>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
