<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Reset Password</h1>
        <p>Enter your new Password</p>
        <form>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter your password"
            />
            <input
              type="password"
              class="form-control"
              id="confirm password"
              placeholder="confirm password"
            />
          </div>
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>
