<div class="password">
  <div class="container m-5 forget">
    <div class="row">
      <div class="col align-self-center">
        <h1>Reset Password</h1>
        <p class="text-muted text-center">
          check your Inbox and Enter your new Password
        </p>
      </div>
      <div class="col align-self-center">
        <form [formGroup]="myform">
          <div>
            <label for="password" class="form-label">New password</label>
            <input
              type="password"
              class="form-control my-2"
              id="password"
              aria-describedby="passwordHelp"
              formControlName="newPassword"
            />
            <div
              id="passwordHelp"
              class="form-text text-danger"
              *ngIf="
                myform.controls.newPassword.touched &&
                myform.controls.newPassword.invalid
              "
            >
              <div *ngIf="myform.controls.newPassword.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="myform.controls.newPassword.errors?.['pattern']">
                password should contains lowercase,upperCase, Numbers
              </div>
              <div *ngIf="myform.controls.newPassword.errors?.['minlength']">
                min length is 8
              </div>
            </div>
          </div>

          <div>
            <label for="link" class="form-label"> Reset Link Data </label>
            <input
              type="password"
              class="form-control my-2"
              id="link"
              aria-describedby="linkHelp"
              formControlName="resetLink"
            />
            <div
              id="linkHelp"
              class="form-text text-danger"
              *ngIf="
                myform.controls.resetLink.touched &&
                myform.controls.resetLink.invalid
              "
            >
              <div *ngIf="myform.controls.resetLink.errors?.['required']">
                reset Link is required
              </div>
            </div>
          </div>
          <button class="btn" (click)="send()" [disabled]="myform.invalid">
            Reset
          </button>
          <div *ngIf="doesDataHasError">
            <h2 class="form-text text-danger">something is Wrong</h2>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
