<div class="container card-outline p-5 ">
    <div class="row g-2 my-4 d-flex justify-content-center align-items-center ">
        <div class="col-lg-5  outStyle">
        <a class="contact-button numberStyle" href="tel:3854296888">
            <img src="../../../assets/Images/values/chat-icon.svg">
            <div class="contact-button-content "><br>
                <span class="text-muted">Chat With Us</span>
             
            </div>
        </a>
    </div>
   
  
        <div class="col-lg-5 offset-md-1 outStyle">
        <a class="contact-button numberStyle" href="tel:3854296888">
            <img src="../../../assets/Images/values/faq-icon.svg">
            <div class="contact-button-content "><br>
                <span class="text-muted">Frequently Asked Questions</span>
           
            </div>
        </a>
    </div>
    </div>
</div>
