<h1>
  Welcome to Homie,
  <br />
  Rent rooms, apartments & stay for months
</h1>

<div class="container">
  <div class="row">
    <div
      class="col-xl-8 offset-xl-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1"
    >
      <div class="input-group mb-3 searchBar">
        <span class=" input-group-text " id="basic-addon1">Search</span>
        <input
          class="fromStyle form-control"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Enter City..."
          (change)="namevalue($any($event.target).value)"
        />
        <datalist id="datalistOptions">
          <option *ngFor="let item of city" [value]="item.name"></option>
        </datalist>
      </div>
    </div>
  </div>
</div>

<br />

<br />

<app-city-cards
  [cityname]="cityname"
  [citycover]="citycover"
  [cityid]="cityid"
></app-city-cards>
