<h1>
  Welcome to Homie,
  <br />
  Rent rooms, apartments & stay for months
</h1>

<div class="container">
  <div class="row">
    <div
      class="col-xl-8 offset-xl-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1"
    >
      <div class="input-group mb-3 searchBar">
        <input
          type="text"
          class="form-control"
          placeholder="Search City"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <span class="input-group-text btnSpan" id="basic-addon2"> Search</span>
      </div>
    </div>
  </div>
</div>
