<footer class="site-footer  ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, ipsum quaerat voluptatibus id, voluptas unde recusandae inventore nostrum perspiciatis consequatur, dignissimos adipisci praesentium. Ad quasi facere aliquid inventore ipsa at.</p>
            </div>



            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li class="nav-item">
                        <a
                          class="nav-link"
                          routerLinkActive="active"
                          [routerLink]="['/about-us']"
                          >About us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          routerLinkActive="active"
                          [routerLink]="['/contact-us']"
                          >Contact Us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          routerLinkActive="active"
                          [routerLink]="['/contact-us']"
                          >Help Question</a
                        >
                      </li>
                  
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Homie</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="twitter" href="#">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a></li>
                    <li><a class="facebook" href="#">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a></li>
                    <li><a class="instagram" href="#">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a></li>



                </ul>
            </div>
        </div>
    </div>
</footer>