h1 {
    font-size: 40px;
    font-weight: 900;
    /* background-color: #FA8BFF; */
    /* background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    color:rgb(155, 134, 109);
    /* background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
    margin-top: 30px;
}
img{
    width:70px;
    border-radius: 50%;
}
.accordion{
    width:120%;
    
}
.getHelp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-button{
    background-color: rgba(76, 62, 33, 0.283) !important;
    /* color:var(  --addresses-color) ; */
    color: rgb(50, 39, 11);
  }
  
  .accordion-button:focus{
    box-shadow: 0 0 0 0.25rem rgba(71, 57, 5, 0.25);
    color: var(  --addresses-color) 
  } 
  .accordion-item{
    background-color: rgba(255, 255, 255, 0.235) !important;
  }
  .accordion-body{
    width:777.662px;
  }
 
