h1 {
    font-size: 40px;
    font-weight: 900;
    /* background-color: #FA8BFF; */
    /* background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    color:rgb(155, 134, 109);
    /* background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
    margin-top: 30px;
}
img{
    width:70px;
    border-radius: 50%;
}
.accordion{
    width:50%;
}