<!-- <body> -->
  <!-- <div class="teams py-5 ">
<div class="container">
  <div class="team">
    <div class="member">
      <img src="../../../assets/Images/mah.jpg" />
      <h3>Mahmoud Samy</h3>
      <span>mahmoud@gmail.com</span>
    
    </div>
    <div class="member">
      <img src="../../../assets/Images/mos.jpg" />
      <h3>Mostafa Hussein</h3>
      <span>mostafa@gmail.com</span>
   
    </div>
    <div class="member">
      <img src="../../../assets/Images/mar.jpg" />

      <h3>Mariam Raghab</h3>
      <span>mar@gmail.com</span>
    </div>

    <div class="member">
      <img src="../../../assets/Images/safy.jpg" />

      <h3>Safia el-nakhal</h3>
      <span>saf@gmail.com</span>
   
    </div>

    <div class="member">
 

    
    </div>
  </div>
</div>
</div> -->


<div class="teams py-5 ">
    <h2>Our Leadership</h2>
  <div class="container">
    <div class="team">
<div class="card" style="width: 18rem;">
  <img src="/../../assets/Images/mah.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>Mahmoud Samy</h3>
      <span>mahmoud@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/Images/mos.jpg" />
  <div class="card-body">
    
    <h3>Mostafa Hussein</h3>
    <span>mostafa@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/Images/mar.jpg" />
  <div class="card-body">


    <h3>Mariam Raghab</h3>
    <span>mar@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/Images/safy.jpg" />
  <div class="card-body">
  

    <h3>Safia el-nakhal</h3>
    <span>saf@gmail.com</span>
 
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../../../assets/Images/rad.jpg" />
  <div class="card-body">
    <h3>Radwa Ahmed</h3>
    <span>Rad@gmail.com</span>
 
  </div>
</div>
</div>
</div>
</div>


<!-- </body> -->
