<body>
    <div class="container">
      <div class="team">
        <div class="member">
          <img src="../../../assets/Images/mah.jpeg" />
          <h3>Mahmoud Samy</h3>
          <span>mahmoud@gmail.com</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.amet
            consecteturamet consecteturamet Laboriosam voluptatum fuga iure. Est,
            dicta voluptatum.
          </p>
        </div>
        <div class="member">
          <img src="../../../assets/Images/mos.jpeg" />
          <h3>Mostafa Hussein</h3>
          <span>mostafa@gmail.com</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.amet
            consecteturamet consecteturamet Laboriosam voluptatum fuga iure. Est,
            dicta voluptatum.
          </p>
        </div>
        <div class="member">
          <img src="../../../assets/Images/mar.jpeg" />
  
          <h3>Mariam Raghab</h3>
          <span>mariiam@gmail.com</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.amet
            consecteturamet consecteturamet Laboriosam voluptatum fuga iure. Est,
            dicta voluptatum.
          </p>
        </div>
  
        <div class="member">
          <img src="../../../assets/Images/saf.jpeg" />
  
          <h3>Safia el-nakhal</h3>
          <span>saf@gmail.com</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.amet
            consecteturamet consecteturamet Laboriosam voluptatum fuga iure. Est,
            dicta voluptatum.
          </p>
        </div>
  
        <div class="member">
          <img src="../../../assets/Images/rad.jpeg" />
  
          <h3>Radwa Ahmed</h3>
          <span>Rad@gmail.com</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.amet
            consecteturamet consecteturamet Laboriosam voluptatum fuga iure. Est,
            dicta voluptatum.
          </p>
        </div>
      </div>
    </div>
  </body>
  