<!-- <body> -->
  <!-- <div class="teams py-5 ">
<div class="container">
  <div class="team">
    <div class="member">
      <img src="../../../assets/Images/mah.jpg" />
      <h3>Mahmoud Samy</h3>
      <span>mahmoud@gmail.com</span>
    
    </div>
    <div class="member">
      <img src="../../../assets/Images/mos.jpg" />
      <h3>Mostafa Hussein</h3>
      <span>mostafa@gmail.com</span>
   
    </div>
    <div class="member">
      <img src="../../../assets/Images/mar.jpg" />

      <h3>Mariam Raghab</h3>
      <span>mar@gmail.com</span>
    </div>

    <div class="member">
      <img src="../../../assets/Images/safy.jpg" />

      <h3>Safia el-nakhal</h3>
      <span>saf@gmail.com</span>
   
    </div>

    <div class="member">
 

    
    </div>
  </div>
</div>
</div> -->


<div class="teams py-5 ">
    <h2>Our Team</h2>
  <div class="container">
    <div class="team">
<div class="card" style="width: 18rem;">
  <img src="https://i.ibb.co/SNyk519/mah.jpg" alt="mah"  />
  <div class="card-body">
    <h3>Mahmoud Samy</h3>
      <span>mahmoud@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
<img src="https://i.ibb.co/84q2Pqs/mos.jpg" alt="mos" >
  <div class="card-body">
    
    <h3>Mostafa Hussein</h3>
    <span>mostafa@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://i.ibb.co/vzJD0xC/mar.jpg" alt="mar"  />
  <div class="card-body">


    <h3>Mariam Raghab</h3>
    <span>mar@gmail.com</span>
  </div>
</div>
<div class="card" style="width: 18rem;">
<img src="https://i.ibb.co/x2b0Xgg/safy.jpg" alt="safy" />
  <div class="card-body">
  

    <h3>Safia el-nakhal</h3>
    <span>saf@gmail.com</span>
 
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://i.ibb.co/PcmHt3y/rad.jpg" alt="rad" />
  <div class="card-body">
    <h3>Radwa Ahmed</h3>
    <span>Rad@gmail.com</span>
 
  </div>
</div>
</div>
</div>
</div>


<!-- </body> -->
