<div
  class="card text-center m-4 card-outline"
  *ngIf="authService.isLoggedIn() && authService.getUser()._id !== landlordId"
>
  <div *ngIf="!isLoading && isAvailable" class="card-body">
    <p>Renting Info</p>
    <div *ngIf="unitAvailable && !isRented">
      <button class="btn btn-outline-primary" (click)="rentUnit()">
        Rent Unit
      </button>
    </div>

    <div *ngIf="isRented" class="my-3">
      <p>
        Your contract info is sent to unit owner. Wait for a message from us or
        him.
      </p>
    </div>

    <div *ngIf="isRentingError" class="my-3">
      <p>Error happened, refresh the page and try again.</p>
    </div>

    <div *ngIf="!unitAvailable && !isRented">
      <input
        type="text"
        placeholder="enter specified period"
        ngxDaterangepickerMd
        [(ngModel)]="chosenDate"
        class="form-control"
      />
      <!-- <h5 class="card-title colorCon2">Full Name : Samy</h5>
    <p class="card-text colorCon2">Phone number : sd</p> -->
      <!-- <button class="btn btn-outline-primary">Call</button>
    <button class="btn btn-outline-primary">Whatsapp</button> -->
      <button class="btn my-3" (click)="checkAvailability()">
        Check Availability
      </button>
    </div>
  </div>

  <div *ngIf="!isLoading && !isAvailable" class="card-body my-3">
    <p class="m-0">Unit isn't available for renting.</p>
  </div>

  <div *ngIf="isLoading" class="my-3 d-flex justify-content-center">
    <div
      class="spinner-grow text-info"
      style="background-color: var(--addresses-color)"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
