<div class="container col-sm-12 col-lg-12">
  <div class="py-3 text-center">
    <h2>Filters</h2>
    <button class="btn btn-outline-primary my-2 w-50">
      <!-- <i class="fab-solid fa-bell-exclamation">CREATE ALERT</i> -->
      <fa-icon [icon]="faBell"></fa-icon> &nbsp;CREATE ALERT
    </button>
  </div>


  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Location
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="py-2 search">
            <div class="py-2">
              <h2></h2>
              <fa-icon [icon]="faSearchengin"></fa-icon>
              <input type="text" placeholder="Search" />
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="">
              <p class="my-2 px-2">Use map as search area</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Price
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div>
            <h2>Price</h2>
            <input type="range" style="width: 21vw ;padding-left: 1em;">
          </div>
          <div class="d-flex justify-content-between my-2">
            <div class="col-5">
              <label for="min">Minimum Price</label>
              <input type="text" placeholder="0$" class="input">
            </div>
            <div class="col-5">
              <label for=" max">Maximum Price</label>
              <input type="text" placeholder="1000$" class="input">
            </div>
          </div>
          <div class="d-flex">
            <input type="checkbox" name="" id="">
            <p class="my-2 px-2">Bills included</p>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Date
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="date">
            <h2>Date</h2>
            <div class="d-flex">
              <div>
                <label for="date"> Move-in</label>
                <input type="date" placeholder="select" class="input">
              </div>
              <div class="mx-2">
                <label for="date"> Move-out</label>
                <input type="date" placeholder="select" class="input">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Gender
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="date">
            <h2>Allowed Gender</h2>
            <div class="d-flex">
              <div class="d-flex">
                <input type="checkbox" placeholder="select" style="width: 25px;">
                <h5 class="px-2 my-1">Mail</h5>
              </div>
              <div class="d-flex">
                <input type="checkbox" placeholder="select" style="width: 25px;">
                <h5 class="px-2 my-1">Female</h5>
              </div>
              <div class="d-flex">
                <input type="checkbox" placeholder="select" style="width: 25px;">
                <h5 class="px-2 my-1">Any</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Pets Allowed
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="date">
            <h2>Pets Allowed</h2>
            <div class="d-flex">
              <div class="d-flex">
                <input type="checkbox" placeholder="select" style="width: 25px;">
                <h5 class="px-2 my-1">Yes</h5>
              </div>
              <div class="d-flex">
                <input type="checkbox" placeholder="select" style="width: 25px;">
                <h5 class="px-2 my-1">No</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Type
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="type">
            <h2>Type</h2>
            <div class="d-flex">
              <input type="checkbox" name="" id="">
              <p class="my-2 px-2">Studio</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="">
              <p class="my-2 px-2">Apartment</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="">
              <p class="my-2 px-2">Private Room</p>
            </div>
            <div class="d-flex">
              <input type="checkbox" name="" id="">
              <p class="my-2 px-2"> Shared Room</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
