.forget{
    padding: 2rem;
    border-radius: 1.5rem;
    background-color:rgba(148, 142, 124, 0.153);
}
.password{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h1 {
    font-size: 40px;
    font-weight: 900;
    /* background-color: #FA8BFF; */
    /* background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    color:rgb(155, 134, 109);
    /* background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align: center;
    margin-top: 30px;
}

.forget{
    padding: 2rem;
    border-radius: 1.5rem;
    background-color:rgba(148, 142, 124, 0.153);
}
.password{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

label{
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(96, 88, 69);
}
input:focus ,button:focus select:focus{
    box-shadow: 0 0 0 0.25rem rgba(71, 57, 5, 0.25);
    border-color: rgb(96, 88, 69);
  }
  
  button{
    background-color:rgb(96, 88, 69) ;
    color: rgb(255, 239, 220);

 
  }
  button:hover{
    border: solid 1px rgb(96, 88, 69);
    color: var( --main-font-color);
  }
  .form-check-input:checked {
    background-color:var(    --main-font-color);
    border-color: var(    --main-font-color);
  }
 