<div class="password">
  <div class="container m-5 forget">
    <div class="row">
      <div class="col align-self-center">
        <h1>Forgot Password?</h1>
        <p class="text-muted text-center">You can reset your password here.</p>
      </div>
      <div class="col align-self-center">
        <label for="streetName" class="form-label">Email Address</label>
        <form [formGroup]="myform">
          <input
            type="email"
            class="form-control my-2"
            id="email"
            aria-describedby="emailHelp"
            formControlName="email"
          />
          <div
            id="emailHelp"
            class="form-text text-danger"
            *ngIf="
              myform.controls.email.touched && myform.controls.email.invalid
            "
          >
            <div *ngIf="myform.controls.email.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="myform.controls.email.errors?.['email']">
              Email is invalied
            </div>
          </div>
          <button [disabled]="myform.invalid" class="btn" (click)="send()">
            Send Email
          </button>
          <div *ngIf="doesEmailHasError">
            <h2 class="form-text text-danger">
              Email has error, check it again
            </h2>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
