<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Forgot Password?</h1>
        <p>You can reset your password here.</p>
        <label for="streetName" class="form-label">Email Address</label>
        <form [formGroup]="myform">
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            formControlName="email"
          />
          <div
            id="emailHelp"
            class="form-text text-danger"
            *ngIf="
              myform.controls.email.touched && myform.controls.email.invalid
            "
          >
            <div *ngIf="myform.controls.email.errors?.['required']">
              Email is required
            </div>
            <div *ngIf="myform.controls.email.errors?.['email']">
              Email is invalied
            </div>
          </div>
          <button class="btn btn-primary" (click)="send()">
            <a routerLink="/resetPassword">Send Email</a>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
