
    
    <div class="container">
                <div class="row text-center">
                    <div class="col-12 col-lg-12">
                        <h1 class="hero-heading">Get in Touch</h1>
                        <p class="text-muted">Have questions or need help? We’re here for you!</p>
                     </div>
                </div>

     
        <div class="row ">
            <div class="contaniner-fluid">
                <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-center-small">
                <h3>Customer Support</h3>
                <p>
                    Mon–Fri: 9am–7pm MST<br>
                    Sat–Sun: 10am–5pm MST
                </p>
                <p class="smallest">
                    Emails are monitored outside of regular support hours for time-sensitive requests.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                        <a class="contact-button" href="tel:3854296888">
                            <img src="../../../assets/Images/values/phone-icon.svg">
                            <div class="contact-button-content">
                                <span>Phone</span>
                                <p>(385) 429-6888 #1</p>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm -12 col-lg-6">

                            <a class="contact-button" href="mailto:sales@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span>General</span>
                                    <p>sales@homie.com</p>
                                </div>
                            </a>
                        </div>
                        <div class=" col-sm -12 col-lg-6">
                            <a class="contact-button" href="mailto:offers@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span>Offers</span>
                                    <p>offers@homie.com</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm -12 col-lg-6">
                            
                <a class="contact-button" href="mailto:tours@homie.com">
                    <img src="../../../assets/Images/values/email-icon.svg">
                    <div class="contact-button-content">
                        <span>Tours</span>
                        <p>tours@homie.com</p>
                    </div>
                </a>
                        </div>
                        <div class=" col-sm -12 col-lg-6">
                            <a class="contact-button" href="mailto:support@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span>Listings</span>
                                    <p>support@homie.com</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            
            
               
            </div>
        </div>
    </div>
    </div>





<!-- 
        <div id="chat-section" class="row margin-top-medium margin-bottom-medium">
            <div class="column small-12">
                <a id="chat-button" class="icon-button full-width">
                    <img src="/images/chat-icon.svg">
                    <span>Chat With Us</span>
                </a>
                <a class="icon-button full-width" href="/faqs">
                    <img src="/images/faq-icon.svg">
                    <span>Frequently Asked Questions</span>
                </a>
            </div>
        </div>
   
    
    <div id="homie-loans-section" class="container-gray-light">
        <div class="row margin-top-medium margin-bottom-medium text-center">
            <div class="column small-12">
                <img class="logo" src="/images/homie-loans-logo.svg" alt="homie logo">
                <div class="icon-button-container">
                    <a class="contact-button white" href="tel:3854296888">
                        <img src="/images/phone-icon.svg">
                        <div class="contact-button-content">
                            <span>Phone</span>
                            <p>(385) 429-6888 #2</p>
                        </div>
                    </a>
                    <a class="contact-button white" href="mailto:info@homieloans.com">
                        <img src="/images/email-icon.svg">
                        <div class="contact-button-content">
                            <span>Email</span>
                            <p>info@homieloans.com</p>
                        </div>
                    </a>
                </div>
                <p class="footnote text-center">
                    Homie Loans and Homie have a business relationship in that both are owned by the same persons. <a data-open="fineprintModal" aria-controls="fineprintModal" aria-haspopup="true" tabindex="0">Learn More</a>
                </p>
                <div class="equal-housing-line">
                    <img src="/images/equal-housing-opportunity-logo.svg">
                    <p>
                        Equal Housing Lender NMLS # 1016597
                    </p>
                </div>
            </div>
        </div>
       
      
    </div>
     -->

    
</div>
    
    

