
    
    <div class="container card-outline ">
                <div class="row text-center">
                    <div class="col-12 col-lg-12">
                        <h1 class="hero-heading">Get in Touch</h1>
                        <p class="text-muted">Have questions or need help? We’re here for you!</p>
                     </div>
                </div>

     
        <div class="row ms-3 ">
            <div class="contaniner-fluid ">
                <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-center-small">
                <h3>Customer  <br>Support</h3>
                <p>
                    Mon–Fri: 9am–7pm MST<br>
                    Sat–Sun: 10am–5pm MST
                </p>
                <p class="smallest text-muted">
                    Emails are monitored outside of regular <br> support hours for time-sensitive requests.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 g-2 ">
                <div class="container">
                    <div class="row g-2 my-4">
                        <div class="col-lg-11  outStyle">
                        <a class="contact-button numberStyle" href="tel:3854296888">
                            <img src="../../../assets/Images/values/phone-icon.svg">
                            <div class="contact-button-content ">
                                <span class="text-muted">Phone</span>
                                <p>(385) 429-6888 #1</p>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div class="row g-2  my-4">
                        <div class=" col-sm-12 col-lg-5 outStyle">

                            <a class="contact-button numberStyle" href="mailto:sales@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span class="text-muted">General</span>
                                    <p>sales@homie.com</p>
                                </div>
                            </a>
                        </div>
                        <div class=" col-sm-12 offset-md-1 col-md-5 outStyle">
                            <a class="contact-button numberStyle" href="mailto:offers@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span class="text-muted">Offers</span>
                                    <p>offers@homie.com</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row g-2 my-4">
                        <div class=" col-sm-12  col-lg-5 outStyle">
                            
                <a class="contact-button numberStyle" href="mailto:tours@homie.com">
                    <img src="../../../assets/Images/values/email-icon.svg">
                    <div class="contact-button-content">
                        <span class="text-muted">Tours</span>
                        <p>tours@homie.com</p>
                    </div>
                </a>
                        </div>
                        <div class=" col-sm-12 offset-md-1 col-lg-5 outStyle">
                            <a class="contact-button numberStyle" href="mailto:support@homie.com">
                                <img src="../../../assets/Images/values/email-icon.svg">
                                <div class="contact-button-content">
                                    <span class="text-muted">Listings</span>
                                    <p>support@homie.com</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            
            
               
            </div>
        </div>
    </div>
    </div>


</div>


    
 

    

    
    

