<app-navbar></app-navbar>
<app-homie-cover></app-homie-cover>
<app-homie-search></app-homie-search>
<br>
<br>
<br>
<app-homie-info></app-homie-info>
<br>
<br>
<app-about-us></app-about-us>
<br />
<br />
<br />
<div class="d-flex justify-content-around">
  <app-unit-filter></app-unit-filter>
  <app-unit-card></app-unit-card>
</div>
<br />
<br />
<br /><br /><br />
<br />
<br />
<br /><br />
<br />
<!-- <app-unit-review></app-unit-review> -->
<br />
<br />
<br />
<br />
<app-footer></app-footer>

<app-user-profile></app-user-profile>
<br />
<br />
<app-sign-up></app-sign-up>
<br />
<br />
<app-login></app-login>
