
.user-image a {
  text-decoration: underline;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid rgba(97, 87, 57, 0.897);
}

.form-label {
  color: rgb(75, 69, 56);
  font-size: 18px;
}

.btn,
.form-control {
  height: 45px;
}

.btn.btn-primary {
  background: rgb(44, 164, 150);
  color: #fff;
  padding: 15px 20px;
}

.form-outline {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}
.form-outline .form-label {
  font-size: 18px;
  font-weight: 600;
  color: #b0abb3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}



.sign{
  margin: 5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color:rgba(148, 142, 124, 0.153);
}

h3{
   color: var( --main-font-color);
   font-weight: bolder;

}
a{
  font-size: 20px;
}

.style{
  border-bottom: solid 2px rgb(44, 33, 9);

  text-align: center;
  width: 10%;
}
.form-check-input:checked{
       background-color: var( --main-font-color); 
    border-color: var( --main-font-color); 
}
.form-check-input:focus{
  box-shadow: 0 0 0 0.25rem rgba(71, 57, 5, 0.25);
}

.btnStyle{
 color: var( --main-font-color);
 background-color: #c1b39e;
}
.btnStyle:focus{
  box-shadow: 0 0 0 0.25rem rgba(71, 57, 5, 0.25);
}