
<div class=" d-felx justify-content-center align-items-center">


  <div class="container   sign d-felx justify-content-center align-items-center p-5 pb-2">
    <div class="form h-75">
      <h3 class="mb-5 text-dark-50">Personal Information</h3>
      <form class="mb-5">
        <div class="row">
          <div class="form-group mb-5">
            <div class="user-image">

              <img
              src="https://i.ibb.co/VmnhzZv/default-user-icon.png"
                height="140"
              />

              <a class="ps-4 text-success">Change Profile Image</a>
            </div>
          </div>
        </div>
        <div class="row col-lg-9">
          <div class="col-md-6 form-group mb-5">
            <label for="name" class="form-label">Name*</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your full name" />
          </div>
          <div class="col-md-6 form-group mb-5">
            <label for="" class="form-label">Email*</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email" />
          </div>
        </div>

        <div class="row col-lg-9">
          <div class="col-md-6 form-group mb-5">
            <label for="phoneNumber" class="form-label">Phone Number*</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
              placeholder="Enter your phone number" />
          </div>
          <div class="col-md-6 form-group mb-5">
            <label for="age" class="form-label">Age*</label>
            <input type="text" class="form-control" name="age" id="age" placeholder="Enter your age" />
          </div>
        </div>

        <div class="row col-lg-9">
          <div class="col-md-12 form-group mb-5">
            <label for="phoneNumber" class="form-label">National ID*</label>
            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
              placeholder="Enter your national ID number" />
          </div>
        </div>

        <div class="row d-felx align-items-center justify-content-center col-lg-9 mb-1 ps-2 ">
          <label for="name" class=" style form-label ">Address*</label>
        </div>
        <div class="row col-lg-9">
          <div class="col-md-4 form-group mb-5">
            <label for="city" class="form-label">City*</label>
            <input type="text" class="form-control" name="city" id="city" placeholder="City" />
          </div>
          <div class="col-md-4 form-group mb-5">
            <label for="street" class="form-label">Street Name*</label>
            <input type="text" class="form-control" name="street" id="street" placeholder="Street Name" />
          </div>
          <div class="col-md-4 form-group mb-5">
            <label for="building" class="form-label">Building Number*</label>
            <input type="text" class="form-control" name="building" id="building" placeholder="Building Number" />
          </div>
        </div>

        <div class="row col-lg-9 mb-3 ps-2">
          <label class="form-label">Gender*</label>
        </div>
        <div class="row col-lg-9">
          <div class="form-check col-md-3 form-group mb-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
            <label class="form-check-label" for="flexRadioDefault1">
              Female
            </label>
          </div>
          <div class="form-check col-md-3 form-group mb-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
            <label class="form-check-label" for="flexRadioDefault2">
              Male
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 p-0 pt-3 form-group">
            <input type="submit" value="Save Changes" class="btn btnStyle rounded-2 py-2 px-3 border-0" />
            <a class="text-danger float-end">Delete My Account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
