<div class="login">
  <div class="container">
    <div class="row col-xl col-lg col-md col-sm">
      <div
        class="col-md-6 col-xl-5 col-lg-6 col-sm-12 imgContainer overflow-hidden"
      >
        <img
          src="https://i.ibb.co/TvThWXV/jason-briscoe-UV81-E0o-XXWQ-unsplash.jpg"
          alt="jason-briscoe-UV81-E0o-XXWQ-unsplash"
        />
      </div>

      <form
        novalidate
        [formGroup]="loginForm"
        [ngClass]="{
          'was-validated':
            !loginForm.get('password')?.invalid &&
            !loginForm.get('email')?.invalid
        }"
        class="col-md-6 col-xl-5 col-lg-6 col-sm-12 formContainer text-center has-validation"
      >
        <h1 class="my-3 hStyle">Login</h1>
        <p *ngIf="activationMessage">
          Your account is activated successfully 🎉
        </p>
        <p *ngIf="!isAccountActivated">
          Your account isn't activated yet, check your email or contact support.
        </p>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              type="email"
              name="email"
              formControlName="email"
              class="form-control"
              id="inputEmail3"
              (blur)="checkFormValidation()"
            />
            <!-- <div class="valid-feedback">Looks good!</div> -->
          </div>
          <!-- <div class="invalid-feedback">Looks good!</div> -->
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              type="password"
              name="password"
              formControlName="password"
              class="form-control"
              id="inputPassword3"
              (blur)="checkFormValidation()"
            />
          </div>
        </div>
        <div class="row mb-3">
          <a routerLink="/forgetPassword">Forget password?</a>
        </div>
        <button
          [disabled]="
            loginForm.get('password')?.invalid ||
            loginForm.get('email')?.invalid
          "
          (click)="login()"
          class="btn btnStyle"
        >
          Login
        </button>
        <p
          class="text-danger form-text"
          [ngClass]="{
            'opacity-0': !doesLoginHasError && !doesFormHasInvalidData
          }"
        >
          {{
            doesLoginHasError
              ? "Email or password is incorrect, try again."
              : ""
          }}
          <br *ngIf="doesLoginHasError" />

          {{
            loginForm.get("email")?.touched &&
            doesFormHasInvalidData.email?.required
              ? "Email is required."
              : ""
          }}
          <br
            *ngIf="
              loginForm.get('email')?.touched &&
              doesFormHasInvalidData.email?.required
            "
          />

          {{
            loginForm.get("email")?.touched &&
            doesFormHasInvalidData.email?.email
              ? "Email isn't written in a right form."
              : ""
          }}
          <br
            *ngIf="
              loginForm.get('email')?.touched &&
              doesFormHasInvalidData.email?.email
            "
          />

          {{
            loginForm.get("password")?.touched &&
            doesFormHasInvalidData.password?.required
              ? "Password is required."
              : ""
          }}
          <br
            *ngIf="
              loginForm.get('password')?.touched &&
              doesFormHasInvalidData.password?.required
            "
          />

          {{
            loginForm.get("password")?.touched &&
            doesFormHasInvalidData.password?.pattern
              ? "Password isn't written in a right
          form."
              : ""
          }}
        </p>
      </form>
    </div>
  </div>
</div>
