<div class="container">
  <button
    class="btn btn-lg btn-outline-secondary m-3"
    routerLink="/admin/add-user"
  >
    Add User
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Display</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let x = index">
        <th scope="row">{{ x + 1 }}</th>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button
            class="btn btn-sm btn-outline-secondary"
            routerLink="/admin/users/{{ user._id }}"
          >
            View
          </button>
        </td>
        <td>
          <button
            class="btn btn-sm btn-outline-success"
            routerLink="/admin/edit-user/{{ user._id }}"
          >
            Update
          </button>
        </td>
        <td>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="deleteUser(user._id, x)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->
</div>
