
  <div class=" home  d-flex justify-content-center align-items-center  text-center">
           
    <div id="carouselExampleControls" class="carousel slide text-center " data-ride="carousel">
        <div class="carousel-inner member">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/Images/homeCover/20504853.jpg"  alt="First slide">
                
                <div class="carousel-caption  member-caption d-none d-md-block">
                   <h1 class="font-weight-bolder  ">HOMIE </h1><br> <br><br>
                         <h3>Awesome Family Home </h3>
                </div>
            </div>
            <div class="carousel-item member ">
                <img class="d-block w-100" src="../../../assets/Images/homeCover/Amazing-House-in-Amazing-Place-HD-Wallpaper.jpg"alt="Second slide">
                <div class="carousel-caption member-caption d-none d-md-block">

                    <h1 class="font-weight-bolder  ">HOMIE</h1><br><br>
                    <br><h3>We build great brands</h3>
                </div>
            </div>
            <div class="carousel-item member ">
                <img class="d-block w-100" src="../../../assets/Images/homeCover/NewHouse_SA_Photo_01.jpg" alt="Third slide">
                <div class="carousel-caption member-caption d-none d-md-block">

                    <h1 class="font-weight-bolder ">
                        HOMIE</h1><br><br>
                        <br><h3>Focused 
                        on strategy</h3>
                </div>
            </div>
        </div>



        <button class="  carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class=" carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</div>