<div class="firstPage ">
    <div class="textContainer">
        <h1 class="font-monospace"> Homie</h1>
        <p class="col-md-4 col-8 font-monospace "> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        <button class="btn btn-light font-monospace "> Find Place</button>
    </div>
</div>