.firstPage {
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/Images/homeCover2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: larger;
}


.textContainer {
    padding-top: 150px;
    padding-left: 30px;
}