<div class="card text-center m-4 card-outline">
  <div class="card-body">
    <p>Renting Info</p>
    <div *ngIf="unitAvailable">
      <button class="btn btn-outline-primary" (click)="checkAvailability()">
        rent unit
      </button>
    </div>

    <div *ngIf="!unitAvailable">
      <input
        type="text"
        placeholder="enter specified period"
        ngxDaterangepickerMd
        [(ngModel)]="chosenDate"
        class="form-control"
      />
      <!-- <h5 class="card-title colorCon2">Full Name : Samy</h5>
    <p class="card-text colorCon2">Phone number : sd</p> -->
      <!-- <button class="btn btn-outline-primary">Call</button>
    <button class="btn btn-outline-primary">Whatsapp</button> -->
      <button class="btn my-3" (click)="checkAvailability()">
        Check Availability
      </button>
    </div>
  </div>
</div>
