<div class="container colorContetnt my-5">
  <div class="card text-center m-4 card-outline">
    <div class="text-center pt-4">
      <img
        [src]="
          userInfo.image[0] === 'h'
            ? userInfo.image
            : 'https://homie-iti.herokuapp.com/' +
              userInfo.image.split('/').slice(1).join('/')
        "
        width="120"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title colorCon2">{{ userInfo.fullName }}</h5>
      <p class="card-text colorCon2">
        Cairo,Egypt<br />
        <span class="text-warning"
          >Last seen {{ userInfo.updatedAt | date }}</span
        >
      </p>
    </div>
    <ul class="list-group list-group-flush text-start">
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Gender:&nbsp;</span><br />{{
          userInfo.gender
        }}
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Age:&nbsp;</span><br />{{
          userInfo.age
        }}
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Member since:&nbsp;</span><br />{{
          userInfo.createdAt | date
        }}
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Charge:&nbsp;</span><br />{{
          userInfo.balance
        }}
        <button class="btn" style="border: none">
          <fa-icon [icon]="faPlus" routerLink="/payment"></fa-icon>
        </button>
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Verification:&nbsp;</span><br />
        {{ userInfo.email }}
      </li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link text-warning py-1">Contact with this user</a
      ><br />
      <a href="#" class="card-link text-warning">Report this user</a>
    </div>
  </div>
  <div
    class="col-lg-8 col-sm-3 ms-5 colorContetnt btn btn-outline-secondary fw-bold"
    routerLink="/edit-user/{{ userInfo._id }}"
  >
    Update your profile
  </div>
</div>

<!-- <fa-icon [icon]="faCheck"></fa-icon> -->
