<div class="container colorContetnt">
  <div class="card text-center m-4 card-outline ">
    <div class="text-center pt-4">
      <img src="../../../assets/Images/default-user-icon.jpg" width="120" />
    </div>

    <div class="card-body ">
      <h5 class="card-title">Eman</h5>
      <p class="card-text">
        Cairo,Egypt<br />
        <span class="text-warning">Last seen few minutes ago</span>
      </p>
    </div>
    <ul class="list-group list-group-flush text-start">
      <li class="list-group-item border-0 ">
        <span class=" fw-bold colorCon2  ">Gender:&nbsp;</span><br />Female
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Age:&nbsp;</span><br />30
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Member since:&nbsp;</span><br />2020
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Charge:&nbsp;</span><br />1250$
      </li>
      <li class="list-group-item border-0">
        <span class="fw-bold colorCon2">Verification:&nbsp;</span><br />
        Email Address
      </li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link text-warning py-1">Contact with this user</a
      ><br />
      <a href="#" class="card-link text-warning">Report this user</a>
    </div>
  </div>
</div>

<!-- <fa-icon [icon]="faCheck"></fa-icon> -->
