<!-- <div class="container">
  <div class="d-flex flex-wrap" *ngFor="let item of favoriteUnit">
    <div class="card m-3 col-6 col-sm-9 col-lg-4 col-md-5" *ngFor="let i of item.favoriteUnits">
      <div>
        <img src="{{i.cover}}" class="d-block card-img-top card-border" id="opImg" alt="..."
          style="position: relative" />
        <fa-icon [icon]="faHeart" class="faIcon" style="color: red;" (click)="onClick(i._id)"> </fa-icon>
      </div>
      <div class="card-body">
        <a routerLink="/unit/{{ i._id }}" routerLinkActive="router-link-active">
          {{ i.estateType }}
        </a>
        <p>
          Daily Price :
          {{ i.dailyPrice }}
          $ <br />
          Allowed Gender :
          {{ i.allowedGender }}
          <br />
          pets Allowed :
          {{ i.isPetsAllowed ? 'Yes':'No' }}
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <h1 class="text-center">MY Wishlist</h1>
  <div class="d-flex flex-wrap" *ngFor="let item of favoriteUnit">
    <div
      class="card overflow-hidden position-relative m-3 col-9 col-sm-9 col-lg-3 col-md-5"
      *ngFor="let i of item.favoriteUnits"
    >
      <div>
        <img
          [src]="
            i.cover[0] === 'h'
              ? i.cover
              : 'https://homie-iti.herokuapp.com/' +
                i.cover.split('/').slice(1).join('/')
          "
          class="d-block card-img-top card-border"
          id="opImg"
          alt="..."
          style="position: relative"
        />
      </div>
      <div class="overlay position-absolute">
        <fa-icon
          [icon]="faHeart"
          class="faIcon"
          style="color: rgb(87, 28, 28)"
          (click)="onClick(i._id)"
        >
        </fa-icon>
      </div>

      <div class="card-body">
        <a routerLink="/unit/{{ i._id }}" routerLinkActive="router-link-active">
          {{ i.estateType }}
        </a>
        <hr />
        <p>
          <i class="fa-solid fa-user"></i><i class="fa-solid fa-paw"></i>
          <fa-icon [icon]="faUser" class="faIcon"> </fa-icon> &nbsp;
          {{ i.allowedGender }} &nbsp; &nbsp; &nbsp; &nbsp;
          <fa-icon [icon]="faPaw" class="faIcon"> </fa-icon> &nbsp;{{
            i.isPetsAllowed ? "Yes" : "No"
          }}
        </p>
        <hr />
        <fa-icon [icon]="faDollarSign" class="faIcon"> </fa-icon> &nbsp;
        <span class="stylSpan"> {{ i.dailyPrice }} /month</span><br />
      </div>
    </div>
  </div>
</div>
