
.hStyle{
    color:var(--main-font-color) ;
    font-weight: bold;
  }
  .hStyle:hover{
    color:var(--hover-font-color) ;
    font-weight: bold;
  }
  .fontSize{
    font-size: 15px;
  }
  .card-outline {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  
  }