<div class="container   pb-5 my-3 ">
    <h2 class="hStyle">Advertiser listings</h2>
  
    <div class="card card-outline d-flex justify-content-center align-item-center userAbout colorContetnt ">
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="card-body">
            <h5 class="card-title">Cairo <span class="fontSize">2 listings</span></h5> 
            <div class="contanier">
            <div class="row">
            <div class="card m-3 col-2 col-sm-9 col-lg-4 col-md-5" >
                <div id="carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" >
                      <img  src="../../../../assets/Images/cityCardImages/city1.jpg" class="d-block card-img-top card-border" id="opImg" alt="..." style="position:relative ;">
              
                    
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between">
                   Apartment
                  <h5>250$</h5>
                </div>
              </div>

              <div class="card m-3 col-2 col-sm-9 col-lg-4 col-md-5" >
                <div id="carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" >
                      <img  src="../../../../assets/Images/cityCardImages/city1.jpg" class="d-block card-img-top card-border" id="opImg" alt="..." style="position:relative ;">
              
                    
                    </div>
                  </div>
                </div>
                <div class="card-body d-flex justify-content-between">
                   Apartment
                  <h5>250$</h5>
                </div>
              </div>
            </div>
        </div>
              
          </div>

        </div>
      </div>
    </div>
     
   
    </div>
  </div>
  
