<div class="card" style="width: 18rem" *ngFor="let item of favoriteUnit">
  <img src="{{ item.cover }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary"></a>
  </div>
</div>

<!-- <div class="container pb-5">
  <h2 class="hStyle">Advertiser listings</h2>

  <div
    class="card card-outline d-flex justify-content-center align-item-center userAbout colorContetnt"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card-body">
            <h5 class="card-title">
              Cairo <span class="fontSize">2 listings</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-lg-3 col-sm-12 mb-2">
          <div
            class="card"
            style="width: 12rem"
            *ngFor="let item; in: favoriteUnit"
          >
            <img
              src="{{ item.cover }}"
              class="card-img-top"
              id="opImg"
              alt="..."
            />
            <div class="card-body d-flex justify-content-between">
              Apartment
              <h5>250$</h5>
            </div>
          </div>
        </div> -->

<!-- <div class="col-lg-3 col-sm-12 mb-2">

          <div class="card" style="width: 12rem;">
            <img  src="../../../../assets/Images/cityCardImages/city2.jpg" class="card-img-top" id="opImg" alt="...">
            <div class="card-body d-flex justify-content-between">
              Apartment
             <h5>250$</h5>
           </div>
          </div>
        </div> -->
<!-- </div> -->

<!-- 
            <div class="card" style="width: 15rem;" >
              
                      <img  src="../../../../assets/Images/cityCardImages/city2.jpg" class="card-img-top" id="opImg" alt="...">
              
                <div class="card-body d-flex justify-content-between">
                   Apartment
                  <h5>250$</h5>
                </div>
              </div> -->
<!-- </div>
  </div>
</div> - -->
