<!-- <app-user-profile></app-user-profile> -->
<div class="container-fluid">
  <div class="row py-3">
    <div class="col-lg-3 my-2">
      <app-user-card class="col-lg-12 col-sm-3  colorContetnt"></app-user-card>
    </div>
    <div class="col-lg-9">

      <div class="row py-3">
        <app-user-about class="col-12 col-sm-9 mx-auto colorContetnt"></app-user-about>
        <app-user-unit-listing class="col-12 col-sm-9 mx-auto colorContetnt"></app-user-unit-listing>
      </div>
    </div>
  </div>
</div>
