input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sign{
  margin: 5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color:rgba(148, 142, 124, 0.153);
}
h1{
  color: var( --addresses-color);
  font-weight: bolder;
}