<div class="container colorContetnt h-75" style="max-width: 400px">
  <div class="card text-center m-4 card-outline" style="min-width: 250px">
    <div *ngIf="!isLoading" class="text-center pt-4">
      <img
        src="{{
          unitLandlord.image[0] === 'h'
            ? unitLandlord.image
            : 'https://homie-iti.herokuapp.com' + unitLandlord.image
        }}"
        width="150"
        style="border-radius: 50%"
      />
    </div>

    <div *ngIf="!isLoading" class="card-body">
      <h5 class="card-title colorCon2">
        {{ unitLandlord.fullName }}
      </h5>
      <p class="card-text colorCon2">{{ unitLandlord.email }}</p>
      <a [href]="'tel:' + unitLandlord.phone" class="btn">
        <fa-icon [icon]="faWhatsapp" style="font-size: 20px"></fa-icon> Whatsapp
      </a>
    </div>

    <div *ngIf="isLoading" class="my-3 d-flex justify-content-center">
      <div
        class="spinner-grow text-info"
        style="background-color: var(--addresses-color)"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <app-payment-info
    [dailyPrice]="dailyPrice"
    [isAvailable]="isAvailable"
    [landlordId]="unitLandlord._id"
  ></app-payment-info>
  <div class="text-center">
    <button
      class="btn"
      routerLink="/unit/{{ id }}/edit"
      *ngIf="auth.isLoggedIn() && unitLandlord._id === userId"
    >
      Edit Unit
    </button>
  </div>
</div>
