<div class="container colorContetnt h-75">
  <div class="card text-center m-4 card-outline">
    <div class="text-center pt-4">
      <img
        src="{{ unitLandlord.image }}"
        width="150"
        style="border-radius: 50%"
      />
    </div>

    <div class="card-body">
      <h5 class="card-title colorCon2">
        Full Name : {{ unitLandlord.fullName }}
      </h5>
      <p class="card-text colorCon2">Phone number : {{ unitLandlord.phone }}</p>
      <button class="btn ">Contact us</button>
    </div>
  </div>

  <app-payment-info></app-payment-info>
</div>
