h1 {
    color: white;
}




/* .container {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(149, 128, 103)



} */

button{
    background-color:var(--addresses-color)

}

label {
    color: rgb(249, 242, 223);
}

.sign{
  margin: 5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--section-color);
}

.form-check-input:checked {
    background-color: var( --main-font-color);
    border-color:var( --hover-font-color) ;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 221, 13, 0.25)
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgba(91, 82, 25, 0.25);
    border-color: var(--main-background-color);
}
.btnStyle{
   
    font-size: 20px;
    font-weight: bold;
}
.btnStyle:hover{
    color:rgb(249, 242, 223); 
    color:var(--main-font-color);
    background-color: var(--main-background-color);

}
@media (max-width:1000px) {
   
    
} 

