<div class="container">
  <div class="row row col-xl col-lg col-md col-sm">
    <div class="col-md-6 col-xl-5 col-lg-6 col-sm-12 imgContainer">
      <img
        src="https://images.pexels.com/photos/2957862/pexels-photo-2957862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </div>

    <form
      class="col-md-6 col-xl-5 col-lg-6 col-sm-12 formContainer text-center"
    >
      <h1>Sign Up</h1>

      <div class="row mb-3">
        <label for="FirstName" class="col-sm-2 col-form-label">FirstName</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="FirstName" class="col-sm-2 col-form-label">LastName</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            placeholder="E-mail"
            id="inputEmail3"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            placeholder="password"
            id="inputPassword3"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputConfirmPassword" class="col-sm-2 col-form-label"
          >confirm Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            placeholder="confirm password"
            id="inputConfirmPassword"
          />
        </div>
      </div>
      <button class="btn">Sign Up</button>
    </form>
  </div>
</div>
