h1 {
    color: white;
}




/* .container {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(149, 128, 103)



} */

button{
    background-color:var(--addresses-color)

}

label {
    color: rgb(249, 242, 223);
}

.sign{
  margin: 5rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--section-color);
}

@media (max-width:1000px) {
   
    
} 

