h1 {
    color: white;
}

button {
    background-color: rgb(29, 4, 247);
    color: white;
}

img {
    width: 100%;
    height: 90vh;
}

.form {
    margin: auto;

}

.container {
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(149, 128, 103)



}


label {
    color: white;
}

.imgContainer {
    padding-left: 0;
    padding-right: 0;

}

@media (max-width:1000px) {
    img{
        height: 60vh;
    }
    .imgContainer{
        height: 50%;
    }
    
} 

