/* You can add global styles to this file, and also import other style files */
/* @import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --bg-lightGray:#cfc2b3;
    --btn-color:rgb(34, 56, 63);
    --main-font-color: #28210c;
    --hover-font-color: #988042;
    --main-background-color: rgba(234, 209, 179, 0.265);
    --addresses-color:rgb(155, 134, 109);
    --color-search:rgb(225, 216, 205);
    --section-color:rgba(177, 163, 145, 0.459);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background-image: url("https://i.ibb.co/fGwnsbG/location-bg.jpg")
    /* background-color: var(--main-background-color); */
 }


 .card-outline {
    margin:2rem auto;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
    background-color:rgba(148, 142, 124, 0.153);
    /* height: 12rem; */
    border-radius: 10px ;
  }
  .ngx-pagination .current{
    background: var(--main-font-color) !important;
 
    
  }