
  <div class="container py-5 my-5">
    <div class="row text-center margin-bottom-small margin-top-medium">
        <div class="col-lg-12 col-sm-12  ">
            <h3>Our Values</h3>
            <h5>We’re on a mission to bring equity and change to real estate, <span class="teal-underline-h4">for good</span>.</h5>
            <p class="smaller text-muted">
                In doing so, we seek a changing of the guard in real estate: an easier and accessible path to homeownership for all. That starts from within, with a company led by values each of us live by and are inspired to work by. That’s where our difference starts; it’s at our core.
            </p>
           
        </div>
    </div>

    <div class="container-fluid ">
    <div class="row margin-bottom-medium hide-for-large ">
        <div class="col-lg-5 col-md-5 col-sm-12 cloStyle py-2">
            <div class="blurb-left">
                <div class="d-flex ">
                <img class="blurb-icon" src="../../../assets/Images/values/disruption-icon.svg">
                  &nbsp;  &nbsp;  &nbsp;<h4>Disruption</h4>
                </div>
                 <div>
                    
                    <p class="text-muted">
                        We start with why, fighting fearlessly for fairness. Leadership doesn’t require permission.
                    </p>
                </div>
            </div>
            </div>
            <div class="col-lg-5 col-md-5  offset-md-2 offset-lg-2 col-sm-12 cloStyle py-2">
            <div class="blurb-left">
                <div class="d-flex ">
                <img class="blurb-icon" src="../../../assets/Images/values/loyalty-icon.svg">
                &nbsp;  &nbsp;  &nbsp;<h4>Loyalty</h4></div>

                <div>
                   
                    <p  class="text-muted">
                        We are all in this together and accountable to one another, our customers, and our communities.
                    </p>
                </div>
            </div></div>
         
            <div class="row margin-bottom-medium hide-for-large  ">
                <div class="col-lg-5 col-md-5 col-sm-12 cloStyle py-2 ">

            <div class="blurb-left">
                <div class="d-flex ">

                <img class="blurb-icon" src="../../../assets/Images/values/balance-icon.svg">
                &nbsp;  &nbsp;  &nbsp;<h4>Balance</h4></div>
                <div>
                   
                    <p  class="text-muted">
                        We care for ourselves, so we can take care of others, by fostering an environment that prioritizes mental and phsyical well being.
                    </p>
                </div>
            </div>
               </div>
               <div class="col-lg-5 col-md-5  offset-md-2 offset-lg-2 col-sm-12 cloStyle py-2 ">
            <div class="blurb-left no-margin-bottom">
                <div class="d-flex ">
                <img class="blurb-icon" src="../../../assets/Images/values/humility.svg">
                &nbsp;  &nbsp;  &nbsp; <h4>Humility</h4></div>
                <div>
                   
                    <p  class="text-muted">
                        Grateful isn’t dead. Kindness is contagious. Progress over perfection, always.
                    </p>
                </div>
            </div>
            </div>
               </div>
        </div></div>
    </div>
    
