h3 {
    font-size: 4rem;
    font-weight: bolder;
    color:rgb(155, 134, 109);
    margin-top: 30px;
}
h5{
    color:rgba(63, 49, 29, 0.534);
}
h4{
    color:rgb(155, 134, 109);
}
.cloStyle{
    margin:10px ;
    width :35rem;
    background-color:var(  --color-search) ;
}
.cloStyle:hover{
    background-color: var(--section-color);
}
