<div class="col-lg-8 col-md-10 col-12" style="margin:10px auto ;text-align: center;">
  <img [src]="coverSrc" alt="" class="col-9" />
</div>

<div class="d-flex flex-wrap justify-content-center align-content-center ">

  <div class="d-flex flex-wrap justify-content-evenly py-1">
    <div class="divWidth mx-1" *ngFor="let item of unitDetails">
      <img (click)="updateCoverSrc($event)" src="{{item}}" alt="" width="75px" height="75px" />
    </div>
  </div>
</div>
<div style="margin:3rem;">
  <h3>Daily Price : {{dailyPrice}} $</h3>
  <app-rating></app-rating>
</div>
