<div class="d-flex flex-wrap align-content-center my-5">
  <div class="text-center col-10 col-md-12 col-lg-8">
    <img [src]="coverSrc" alt="" class="col-11" />
  </div>
  <div class="d-grid col-9 col-sm-12 col-md-12 col-lg-4 py-3">
    <div class="d-flex flex-wrap justify-content-center align-items-center mx-2">
      <div class="col-3 col-md-4 col-lg-6 py-2">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/2.jpg" alt="" class="col-9" />
      </div>
      <div class="col-3 col-md-4 col-lg-6">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/3.jpg" alt="" class="col-9" />
      </div>
      <div class="col-3 col-md-4 col-lg-6">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/4.jpg" alt="" class="col-9" />
      </div>
      <div class="col-3 col-md-4 col-lg-6">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/4.jpg" alt="" class="col-9" />
      </div>
      <div class="col-3 col-md-4 col-lg-6">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/4.jpg" alt="" class="col-9" />
      </div>
      <div class="col-3 col-md-4 col-lg-6">
        <img (click)="updateCoverSrc($event)" src="../../../assets/Images/UnitImages/4.jpg" alt="" class="col-9" />
      </div>
    </div>
  </div>
</div>
