<div class="container d-flex justify-content-center align-content-center">
  <div class="d-grid col-5 mx-4">
    <img src="../../../assets/Images/UnitImages/1.jpg" alt="" class="col-12" />
  </div>
  <div class="d-grid row row-cols-12 col-5">
    <div class="row row-cols-2">
      <div class="col py-2">
        <img
          src="../../../assets/Images/UnitImages/2.jpg"
          alt=""
          class="col-12 row row-cols-4"
        />
      </div>
      <div class="col py-2">
        <img
          src="../../../assets/Images/UnitImages/3.jpg"
          alt=""
          class="col-12 row row-cols-3"
        />
      </div>
      <div class="col py-1 py-2">
        <img
          src="../../../assets/Images/UnitImages/4.jpg"
          alt=""
          class="col-12 h-50 row row-cols-3"
        />
      </div>
      <div class="col py-2">
        <img
          src="../../../assets/Images/UnitImages/5.jpg"
          alt=""
          class="h-50 col-12 row row-cols-3"
        />
      </div>
    </div>
  </div>
</div>
