img {
  border-radius: 10%;
  /* width: 100%; */
  border: 3px solid;
}

.divWidth {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

img:hover {
  transition: all 1s;
  transform: scale(1.1);
}
