<section class="cityCard text-center">
  <h2>Explore our most popular cities</h2>
  <p class="text-muted">
    See what these cities have to offer and rent the perfect place
  </p>
  <div class="container">
    <div class="row">
      <owl-carousel-o [options]="customOptions" *ngIf="!cityname">
        <ng-template carouselSlide *ngFor="let item of city">
          <div class="col-md-3">
            <div class="card" style="width: 18rem; height: 25rem">
              <img src="{{ item.cover }}" class="card-img-top" alt="cityCard" />
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">
                  Some quick example text to build on the card
                </p>
                <a routerLink="/units/{{ item._id }}" class="btn"
                  >Go somewhere</a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>

      <div
        class="card oneCity"
        style="width: 18rem; height: 25rem"
        *ngIf="cityname"
      >
        <img src="{{ citycover }}" class="card-img-top" alt="cityCard" />
        <div class="card-body">
          <h5 class="card-title">{{ cityname }}</h5>
          <p class="card-text">Some quick example text to build on the card</p>
          <a class="btn" routerLink="/units/{{ cityid }}">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="row">
  <div class="card" style="width: 18rem" *ngIf="!cityname">
    <div class="card-body" *ngFor="let post of city">
      <h5 class="card-title">{{ post.name }}</h5>
      <img src="{{ post.cover }}" class="card-img-top" alt="..." />

      <p class="card-text">
        {{ post._id }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem" *ngIf="cityname">
  <div class="card-body">
    <h5 class="card-title">{{ cityname }}</h5>
    <img src="{{ citycover }}" class="card-img-top" alt="..." />

    <p class="card-text">{{ cityid }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
