<section class="cityCard text-center mt-5 py-5">
  <h2>Explore our most popular cities</h2>
  <p class="text-muted">
    See what these cities have to offer and rent the perfect place
  </p>
  <div class="container">
    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of city">
          <div class="col-md-3  col-lg-3 col-sm-12 ">
            <div class=" card cardStyle " style="width: 18rem; height: 20rem">
              <img src="{{ item.cover }}" class="card-img-top" alt="cityCard" />
              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
            
                <a routerLink="/units/{{ item._id }}" class="btn btnStyle"
                  >see more</a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>

<!-- <div class="row">
  <div class="card" style="width: 18rem" *ngIf="!cityname">
    <div class="card-body" *ngFor="let post of city">
      <h5 class="card-title">{{ post.name }}</h5>
      <img src="{{ post.cover }}" class="card-img-top" alt="..." />

      <p class="card-text">
        {{ post._id }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="card" style="width: 18rem" *ngIf="cityname">
  <div class="card-body">
    <h5 class="card-title">{{ cityname }}</h5>
    <img src="{{ citycover }}" class="card-img-top" alt="..." />

    <p class="card-text">{{ cityid }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
