<section class="cityCard text-center">

    <h2 >Explore our most popular cities</h2>
       <p class="text-muted"> See what these cities have to offer and rent the perfect place</p>
       <div class="container">
        <div class="row">
           
       <owl-carousel-o [options]="customOptions">
        <div class="col-md-4">
      <ng-template carouselSlide>
         <div class="card" style="width: 18rem;">
        <img src="../../../assets/Images/cityCardImages/city1.jpg"  class="card-img-top" alt="cityCard">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>    
    </ng-template>
        </div> 

        <div class="col-md-4">
            <ng-template carouselSlide>
               <div class="card" style="width: 18rem;">
              <img src="../../../assets/Images/cityCardImages/city2.jpg"  class="card-img-top" alt="cityCard">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>    
          </ng-template>
              </div> 

              <div class="col-md-4">
                <ng-template carouselSlide>
                   <div class="card" style="width: 18rem;">
                  <img src="../../../assets/Images/cityCardImages/city3.jpg"  class="card-img-top" alt="cityCard">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>    
              </ng-template>
                  </div> 
                  <div class="col-md-4">
                    <ng-template carouselSlide>
                       <div class="card" style="width: 18rem;">
                      <img src="../../../assets/Images/cityCardImages/city4.jpg"  class="card-img-top" alt="cityCard">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>    
                  </ng-template>
                      </div> 
                      <div class="col-md-4">
                        <ng-template carouselSlide>
                           <div class="card" style="width: 18rem;">
                          <img src="../../../assets/Images/cityCardImages/city6.jpg"  class="card-img-top" alt="cityCard">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>    
                      </ng-template>
                          </div> 
                          <div class="col-md-4">
                            <ng-template carouselSlide>
                               <div class="card" style="width: 18rem;">
                              <img src="../../../assets/Images/cityCardImages/city7.jpg"  class="card-img-top" alt="cityCard">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div>
                            </div>    
                          </ng-template>
                              </div> 
                              <div class="col-md-4">
                                <ng-template carouselSlide>
                                   <div class="card" style="width: 18rem;">
                                  <img src="../../../assets/Images/cityCardImages/city1.jpg"  class="card-img-top" alt="cityCard">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                  </div>
                                </div>    
                              </ng-template>
                                  </div> 
     
 
    </owl-carousel-o>
        </div>
       </div>
    <div>Some tags after</div>
</section>