<section>
  <div class="d-flex flex-column col-md-8">
    <div class="review p-2 px-4" *ngFor="let item of unitComment">
      <div class="d-flex flex-row mt-4 mb-4">
        <input type="text" class="form-control mr-3" [(ngModel)]="comment.comment" placeholder="Add comment">
        <button class="btn btn-primary" type="button" (click)="addComment()">Comment</button>
      </div>
      <div class="mt-2">
        <div class="agentReview d-flex flex-row align-items-center ">
          <div class="mx-3">
            <img class="img-fluid img-responsive rounded-circle mr-2" src=" {{agentdetails.image}}" width="38">
            <h5 class="mr-2">{{agentdetails.fullName}}</h5>
          </div>
          <div class="d-flex flex-wrap justify-content-around">
            <div class="col-9">Comment : {{item.comment}}</div>
            <div>
              <button class=" btn btn-outline-primary my-5">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
